.FAQ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 1.5rem;
    padding: 2rem;

    .questions{
        display: flex;
        flex-direction: column;
        background: white;
        color: black;
        border-radius: 20px;
        padding: 1.5rem;
        gap: 1.5rem;
        font-size: clamp(1rem, 1vw, 1.5rem);
        p{
            // color: #0077ff;
            text-align: left;
        }
    }
}