@import "./styles/variables";

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $footer-background-color;
    padding: $default-padding-setting;
    text-align: center;
    font-weight: 600;
    color: #D1D5DB;
    font-size: 0.875rem;
    width: $default-width;

    .elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .company-information {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                list-style-type: none;
                margin-top: 1rem;
            }
        }
    }
}

@media (min-width:768px) {
    .footer {
        .elements {

            .company-information {
                gap: 1rem;
                flex-direction: row;
            }
        }
    }

}