.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 1.5rem;
    text-align: center;

    .home-separator{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    h1,h2{
        text-align: center;
    }
}

.septic-field-list, .air-injection-list, .location-list, .french-drain-list, .solution-list{
    list-style-type: none;
}