.PhotosVideos {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

    .photos-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 320px;
            height: auto;
        }
    }

    .videos-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        video {
            width: 320px;
        }

    }
}