.SepticSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .leach-field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
        padding: 2rem;
        border-radius: 20px;
    }
    .symptoms-drainage-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
    }
    .solution-drainage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
    }
    .how-it-works {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
    }
    .high-pressure-pipe {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
        img{
            max-width: 320px;
        }
    }
    .prefilter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
        img{
            max-width: 320px;
        }
    }
    .excation-repair {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
    }
    .location-septic-system {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        color: black;
    }
}