.SportField{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;

    .problem-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        color: black;
        padding: 2rem;
        border-radius: 20px;
    }

    .videos-section{
        display: flex;
        justify-content: center;
        flex-direction: column;

        video{
            width: 320px;
        }

    }
}